@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;

  /* background-color: #60b347; */
}

header {
  margin-bottom: 100px;
  border-bottom: 7px solid #eee;
}
.header_btn {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 20px 60px;
  gap: 20px;
  text-align: center;
}

.again {
  padding: 20px;
  font-size: 20px;
  font-family: 'Press Start 2P', sans-serif;
}
.again:hover {
  background-color: rgb(12, 51, 85);
  cursor: pointer;
}
.guess_Number {
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-align: center;
}

.number {
  padding: 30px;
  background-color: #eee;
  color: black;
  width: fit-content;
  position: relative;
  left: 50%;
  top: 70px;
  font-size: 50px;
  text-align: center;
}
.number:hover {
  background-color: rgb(12, 51, 85);
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  gap: 20px;
  font-size: 30px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  align-content: center;
  justify-content: center;
  margin-left: 60px;
}

.left input {
  padding: 30px 0;
  width: 100px;
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 20px;
}
.check {
  padding: 20px;
  font-size: 20px;
  font-family: 'Press Start 2P', sans-serif;
  width: 100px;
}

/* MEDIA */

@media screen and (max-width: 980px) {
  .right {
    font-size: 20px;
  }
  .guess_Number {
    font-size: 30px;
  }
}

@media screen and (max-width: 690px) {
  .right {
    font-size: 18px;
  }
  .guess_Number {
    font-size: 25px;
  }

  .header_btn {
    margin: 20px 30px;
    gap: 20px;
  }

  .number {
    padding: 25px;
    left: 40%;
  }
}

@media screen and (max-width: 400px) {
  .right {
    font-size: 14px;
  }
  .guess_Number {
    font-size: 15px;
  }

  .left {
    margin-left: 30px;
  }

  .left input {
    width: 60px;
    font-size: 15px;
  }
  .check {
    font-size: 15px;
    width: 70px;
  }
  .again {
    padding: 15px;
    font-size: 15px;
  }
  .between {
    font-size: 14px;
  }
}
